body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

/* NAVBAR STYLING */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: max-content;
  background-color: #fff;
}
.navbar-brand {
  color: #fe424d;
  font-size: 2rem;
}
.navbar-brand:hover {
  color: #ff0011;
  font-size: 2rem;
}
.nav-link {
  color: #222222;
}
.new-airbnb-nav:hover {
  border-radius: 30px;
  background-color: #f3f3f3;
}

/* FOOTER STYLING */
.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
  vertical-align: middle;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.25rem;
  margin-right: 1rem;
}
.f-info-links a {
  text-decoration: none;
  color: #222;
}
.f-info-links a:hover {
  text-decoration: underline;
}

/* Cards Styling */
.listing-card {
  border: none;
  margin-bottom: 1.5rem;
}
.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}
.card-body {
  padding: 0%;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}
/*Card Ovelay Effect*/
.card-img-overlay {
  opacity: 0;
  transition: all 0.2s linear;
}
.card-img-overlay:hover {
  opacity: 0.35;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* New Listing Form */
.newListing-form,
.edit-listing-form {
  margin: 2rem 0rem;
}
.new-listing-form-btn {
  background-color: #fe424d;
  border: none;
  color: #ebebeb;
  transition: all 0.15s linear;
}
.new-listing-form-btn:hover {
  background-color: #ff0011;
  color: #fff;
}

/* Edit Listing Form */
.edit-listing-btn {
  background-color: #fe424d;
  border: none;
  color: #ebebeb;
  transition: all 0.15s linear;
}
.edit-listing-btn:hover {
  background-color: #ff0000;
  color: #fff;
}

/* Show Page STyling */
.show-img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.show-btns {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0;
}
.show-edit-btn {
  background-color: #fe424d;
  border: none;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.show-card-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1rem;
}
.show-btns {
  display: flex;
  gap: 1rem;
}
.show-btns a {
  min-width: max-content;
}
.show-edit-btn:hover {
  background-color: #ff0011;
}
.show-dlt-btn:hover {
  background-color: #000;
}

#filters {
  display: flex;
  gap: 20px;
  flex-wrap: row;
  align-items: center;
}
.filter {
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  transition: all 0.2s ease;
}
.filter i {
  width: 100%;
  font-size: 1.4rem;
}
.filter p {
  margin: 0;
  font-size: 0.75rem;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateY(-2px);
}
.tax-info {
  display: none;
}
.tax-switch {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.8rem;
  margin-left: auto;
}
/* Mobile adjustments */
@media (max-width: 576px) {
  #filters {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .filter {
    min-width: 60px;
  }
  .filter i {
    font-size: 1.2rem;
  }
  .filter p {
    font-size: 0.7rem;
  }
  .tax-switch {
    margin: auto;
  }
}

/* Reviews Color */
.fa-star {
  color: #f5c518;
  margin-left: 0.3rem;
}

.review-from {
  background: #fafafa;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.editFrom-img {
  max-width: 250px;
}

/* Map Styling */

#map {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}
.home-marker {
  width: 34px;
  height: 34px;
  background-color: #ff385c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
